input {
    border: none;
    font-size: 17px;
    width: 45%;
    outline: none;
}

table {
  width: 48% !important;
}

a > img {
  display: none;
}

a:hover > img {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type=number] {
  background-color: inherit;
}

input[type=text] {
  width: 100%;
}

#clipboard {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
